.visual-dashboard{
  margin-top: 30px;
}

.visaul-dashboard-heading{
  font-family: Inter, sans-serif;
}

.visualization-container {
  display: flex;
  flex-wrap: wrap; 
  padding: 24px;
  justify-content: space-between;
  margin-top: 30px; 
}

.chart-card {
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex: 1 1 48% ;
  max-width: 48%;
  border: 1px solid #eee;
}

@media screen and (max-width:576px) {
  .chart-card{
    margin-bottom: 20px;
  }
  
}

.chart-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  /* color: #333; */
}

.chart-container {
  width: 100%;
  height: 300px;
  /* border: 1px solid red; */
}

.amount-chart {
  flex: 1 1 100%; 
  max-width: 100%;
  margin-top: 30px;
}


@media (max-width: 1030px) {
  .chart-card {
    flex: 1 1 calc(98%);
    max-width: 100%;
  }

  .amount-chart {
    flex: 1 1 calc(98%);
  }
}

.error-chart{
  margin-top: 30px;
}

.error-heading{
  color:red;
}